body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 30px;
  display: block;
}
nav ul li a {
  text-decoration: dashed;
}
nav ul li a[active] {
  color: tomato;
}
